
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
playwright-eslint-tutorial.md
ESLINT_SETUP_TUTORIAL.md
/cypress/.DS_Store
/playwright/tests/auth/.DS_Store
playwright/tests/apiTests/
.DS_Store
